.board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
}

button {
  width: 100px;
  height: 100px;
  font-size: 80px; /* Increase the font size */
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.game-container {
  text-align: center;
  display: flex;
  flex-direction: column; /* Stack the title and the board vertically */
  align-items: center; /* Center-align children */
  margin: auto;
}

.game-title {
  color: #fff;
  margin-bottom: 20px;
}

.winner-announcement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  z-index: 10; /* Ensure it's above other elements */
  display: flex; /* Add this line */
  flex-direction: column; /* Add this line */
  align-items: center; /* Add this line */
  justify-content: center; /* Add this line */
}

.winner-announcement img {
  max-width: 200px;
  height: 200px;
}

.winner-announcement button {
  margin-top: 10px;
  font-size: 16px; /* Adjust this value as needed */
  /* Other styles for the button */
  padding: 10px 20px;
  background-color: #4CAF50; /* Example background color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto; /* Adjusted to fit content */
}



.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/space.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}


.mode-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Take full viewport height */
}

.mode-selection button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

.mode-selection button:hover {
  background-color: #45a049;
}
